html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#boost {
  position: fixed;
  height: 50px;
  width: 200px;
  top: 55vh;
  color: white;
  background-color: steelblue;
  border: none;
  border-radius: 10px;
  transition: transform 0.1s ease-in;
}
#boost:active {
  transform: scale(0.9);
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: lightsteelblue;
}

#tap {
  position: fixed;
  height: 170px;
  width: 170px;
  bottom: 50vh;
  border: none;
  transition: transform 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0);
}

#tap:active {
  transform: scale(0.9);
}

#tapimg {
  position: absolute;
  height: 170px;
  width: 170px;
  left: 0vh;
  top: 0px;
}

#ant {
  position: fixed;
  color: aliceblue;
  top: 50px;
}

#title {
  position: fixed;
  top: 0px;
  color: aliceblue;
}